
.leermas, .leermas-1{
    background: #7bbb12;
    color: #FFFFFF;
    padding: 4px 0;
    
    float: left;
    text-align: center;
    font-size: 16px;
    
}
.leermas{
    margin: 0 0 20px 30%;
    width: 40%;
}
.leermas-1{
    width: 100%;
    margin: 0 0 20px 0;
    
}
.leermas:hover, .leermas-1:hover{
    color: #FFFFFF;
}
.h5-3, .h4-3{
    color: #065248;
    float: left;
    margin: 5px 0;
}
.p-3{
    float: left;
    text-align: justify;
}
.h4-2, .p-2{
    text-align: Center;
    color: #FFFFFF;
}

.p-2{
    font-size: 16px;
}
.h4video{
    background: #7bbb12;
    color: #ffffff;
    text-align: center;
    padding: 4px 0;
    width: 100%;
    margin: 0;
    float: left;
}
.face, .twi, .you{
    color: #7bbb12; 
    background: #fff; 
    border-radius: 50%; 
    padding: 6px;  
    height: 35px; 
    width: 35px; 
    text-align: center; 
}

<<<<<<< HEAD
=======
.face:hover{
    color: #ffffff;
    background: #245269
}
.you:hover{
    color: #ffffff;
    background: #c60f13;
}
.twi:hover{
    color: #ffffff;
    background: #269abc;
}
>>>>>>> d9b8f534f8a7a523caad4729961f76d0d5f64dd9

@media (min-width: 1020px){
    .videoynoticias{
       height: 260px;
    }
    .queeslaosteopatia{
        height: 264px;
        padding: 0 101px 0 114px;
    }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-01-2015, 19:58:04
    Author     : juan
*/

